@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/images/cursor-small1.png"), auto;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--bg-darker);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.2;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2.488rem;
  letter-spacing: -0.015em;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.05rem;
  margin: 10px 0;
  max-width: 65ch; /* Improves readability */
}

.small {
  font-size: 0.8rem;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
}

@media (min-width: 1441px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
