/* 
author: Osama Khazali
github:  @osamaalkhazali
email: osama.khazali97@gmail.com
date: 2025-01-25
project: Portfolio
version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import url('./variables.css');
@import url('./general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./projects.css');
@import url('./skills.css');
@import url('./contact.css');